{{ define "title" }}Go Auth{{ end }}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{template "title" .}}</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style>
	section {
		max-width: 600px;
		margin: 20px auto;
	}
	</style>
</head>

<body>
	<section>
		<h1>{{template "title" .}}</h1>
		{{template "content" .}}
	</section>
</body>

</html>